$gray1: #FAFAFB;
$gray2: #BDBDBD;
$gray3: #828282;
$gray4: #4F4F4F;
$gray5: #F2F2F2;
$blue1: #F6F8FB;
$blue2: #97BEF4;
$blue3: #2F80ED;

h3 {
    color: $gray4;
    text-align: left;
    padding-bottom: 10px;
}

#bar {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: $gray5;

    #progress {
        height: 5px;
        width: 4%;
        border-radius: 5px;
        background-color: $blue3;
    }
}